<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ansible ui demo">
    <meta name="author" content="Neal">
    {#    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">#}

    <title>Ansible Ui | 开源ansible ui系统</title>
    {% include 'manager/link_css.html' %}
    {% include 'manager/head_script.html' %}
    {% block self_head_css_js %} {% endblock %}
</head>

<body>
<section id="container">
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>Ansible UI</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    {% include 'aside.html' %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    {% block main_comtent %} {% endblock %}
                </div>
            </div>
        </section>
    </section>

    {% include 'manager/footer.html' %}
</section>
{% include 'manager/raw.html' %}
</body>
</html>